@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #444;
  line-height: 23px; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #626262; }

img {
  border: none;
  display: block; }

.hideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 999;
  padding: 0 15px;
  display: none; }
  .hideNav .hideLogo {
    width: 270px;
    height: 116px;
    padding: 15px 0; }
    .hideNav .hideLogo img {
      max-width: 269px; }
  .hideNav i {
    cursor: pointer;
    font-size: 30px;
    color: #626262;
    padding: 10px; }

.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 999; }
  .mainNav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mainNav ul li {
      margin: 0 15px; }
      .mainNav ul li a {
        font-size: 14px;
        color: #444;
        font-weight: bold; }
      .mainNav ul li img {
        max-width: 269px;
        height: none; }
      .mainNav ul li.on a {
        color: #6f23f9; }

.main {
  width: 100%;
  height: 100vh; }
  .main .mainImg li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .main .mainImg li:nth-child(1) {
      background: url(../img/main1.jpg) no-repeat center center;
      background-size: cover; }
    .main .mainImg li:nth-child(2) {
      background: url(../img/main2.jpg) no-repeat center center;
      background-size: cover; }
    .main .mainImg li:nth-child(3) {
      background: url(../img/main3.jpg) no-repeat center center;
      background-size: cover; }
    .main .mainImg li::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: #252525b3; }
  .main .mainText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 99; }
    .main .mainText .titleImg {
      width: 300px;
      margin: 0 auto;
      padding-bottom: 40px;
      border-bottom: 4px double #6f23f9; }
    .main .mainText p {
      margin-top: 3%;
      font-weight: bold;
      color: #fff;
      font-size: 18px; }
    .main .mainText h1 {
      font-size: 24px;
      color: #fff; }

.section1 {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding: 130px 0; }
  .section1 h2 {
    font-size: 24px;
    color: #444;
    display: inline-block;
    position: relative;
    margin-bottom: 8%; }
    .section1 h2::before {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      left: -60px;
      width: 40px; }
    .section1 h2::after {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      right: -60px;
      width: 40px; }
  .section1 .sec1con {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .section1 .sec1con .sec1con1 {
      width: 50%;
      display: flex;
      margin-right: 5%;
      justify-content: space-between; }
      .section1 .sec1con .sec1con1 .leftBox {
        margin-right: 5%; }
        .section1 .sec1con .sec1con1 .leftBox .img {
          width: 100%;
          position: relative; }
          .section1 .sec1con .sec1con1 .leftBox .img img {
            width: 100%; }
          .section1 .sec1con .sec1con1 .leftBox .img .yellowBox {
            width: 90%;
            height: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50%;
            margin-left: -45%;
            border: 4px solid #ffffff80;
            z-index: 10; }
      .section1 .sec1con .sec1con1 .rightBox {
        text-align: left; }
        .section1 .sec1con .sec1con1 .rightBox h3 {
          font-size: 20px;
          color: #6f23f9;
          margin-top: 40px;
          position: relative; }
          .section1 .sec1con .sec1con1 .rightBox h3::before {
            content: "“";
            font-size: 100px;
            position: absolute;
            top: -22px; }
        .section1 .sec1con .sec1con1 .rightBox .bold {
          font-size: 13px;
          font-weight: bold;
          display: inline-block;
          margin-top: 8%; }
        .section1 .sec1con .sec1con1 .rightBox p {
          font-size: 13px;
          margin: 3% 0 10px 0;
          word-break: keep-all; }
      .section1 .sec1con .sec1con1 .leftBox {
        width: 50%; }
      .section1 .sec1con .sec1con1 .rightBox {
        width: 50%; }
    .section1 .sec1con .sec1con2 {
      width: 50%;
      display: flex;
      margin-right: 5%;
      justify-content: space-between;
      margin-right: 0; }
      .section1 .sec1con .sec1con2 .leftBox {
        margin-right: 5%; }
        .section1 .sec1con .sec1con2 .leftBox .img {
          width: 100%;
          position: relative; }
          .section1 .sec1con .sec1con2 .leftBox .img img {
            width: 100%; }
          .section1 .sec1con .sec1con2 .leftBox .img .yellowBox {
            width: 90%;
            height: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50%;
            margin-left: -45%;
            border: 4px solid #ffffff80;
            z-index: 10; }
      .section1 .sec1con .sec1con2 .rightBox {
        text-align: left; }
        .section1 .sec1con .sec1con2 .rightBox h3 {
          font-size: 20px;
          color: #6f23f9;
          margin-top: 40px;
          position: relative; }
          .section1 .sec1con .sec1con2 .rightBox h3::before {
            content: "“";
            font-size: 100px;
            position: absolute;
            top: -22px; }
        .section1 .sec1con .sec1con2 .rightBox .bold {
          font-size: 13px;
          font-weight: bold;
          display: inline-block;
          margin-top: 8%; }
        .section1 .sec1con .sec1con2 .rightBox p {
          font-size: 13px;
          margin: 3% 0 10px 0;
          word-break: keep-all; }
      .section1 .sec1con .sec1con2 .leftBox {
        width: 50%; }
      .section1 .sec1con .sec1con2 .rightBox {
        width: 50%; }

.banner {
  width: 100%;
  position: relative;
  padding: 130px 0;
  text-align: center;
  background: url(../img/banner_bg.jpg) no-repeat center center fixed;
  background-size: cover; }
  .banner .black {
    width: 100%;
    height: 100%;
    background: #252525b3;
    position: absolute;
    top: 0;
    left: 0; }
  .banner h2 {
    position: relative;
    font-size: 24px;
    color: #fff;
    margin-bottom: 4%; }
  .banner p {
    position: relative;
    font-size: 14px;
    color: #fff; }

.section2 {
  width: 100%;
  text-align: center;
  padding: 130px 0;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5; }
  .section2 h2 {
    font-size: 24px;
    color: #444;
    display: inline-block;
    position: relative;
    margin-bottom: 8%;
    margin-bottom: 5%; }
    .section2 h2::before {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      left: -60px;
      width: 40px; }
    .section2 h2::after {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      right: -60px;
      width: 40px; }
  .section2 .sec2con {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .section2 .sec2con li {
      width: 33%;
      margin-right: 3%;
      text-align: center;
      border: 5px solid #e4e4e4; }
      .section2 .sec2con li:last-child {
        margin-right: 0; }
      .section2 .sec2con li .box {
        padding: 15%; }
        .section2 .sec2con li .box i {
          font-size: 60px;
          color: #6f23f9;
          margin-bottom: 5%; }
        .section2 .sec2con li .box h3 {
          font-size: 15px;
          padding-bottom: 9%;
          border-bottom: 1px solid #e4e4e4; }
        .section2 .sec2con li .box p {
          font-size: 13px;
          margin-top: 9%;
          margin-bottom: 10px;
          word-break: keep-all; }

.section3 {
  width: 1170px;
  padding: 130px 0;
  margin: 0 auto;
  text-align: center; }
  .section3 h2 {
    font-size: 24px;
    color: #444;
    display: inline-block;
    position: relative;
    margin-bottom: 8%; }
    .section3 h2::before {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      left: -60px;
      width: 40px; }
    .section3 h2::after {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      right: -60px;
      width: 40px; }
  .section3 .sec3con {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .section3 .sec3con li {
      width: 24%;
      margin-bottom: 2%;
      overflow: hidden;
      cursor: pointer; }
      .section3 .sec3con li:hover img {
        transform: scale(1.2);
        opacity: .3; }
      .section3 .sec3con li img {
        width: 100%;
        transition: all .3s; }

.section4 {
  width: 100%;
  padding: 130px 0;
  position: relative;
  margin: 0 auto;
  text-align: center;
  background: url(../img/section4_bg.jpg) no-repeat center center fixed;
  background-size: cover; }
  .section4 .black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #252525b3; }
  .section4 .sec4conWrap {
    position: relative;
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    padding: 0 15px; }
    .section4 .sec4conWrap .sec4con {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between; }
      .section4 .sec4conWrap .sec4con li {
        width: 50%;
        height: 100%; }
        .section4 .sec4conWrap .sec4con li .box {
          width: 90%;
          height: 90%;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -40%;
          margin-left: -45%;
          border: 4px solid #ffffff80; }
        .section4 .sec4conWrap .sec4con li:first-child {
          position: relative;
          background: url(../img/section4_conbg.jpg) no-repeat center center;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 3%; }
          .section4 .sec4conWrap .sec4con li:first-child h3 {
            position: relative;
            color: #444;
            margin: 0 108px;
            font-size: 28px;
            line-height: 34px;
            word-break: keep-all; }
        .section4 .sec4conWrap .sec4con li:last-child {
          position: relative;
          background: #6f23f9;
          padding: 8% 6%; }
          .section4 .sec4conWrap .sec4con li:last-child h3 {
            position: relative;
            font-size: 24px;
            color: #fff;
            padding-bottom: 11%; }
          .section4 .sec4conWrap .sec4con li:last-child input {
            position: relative;
            width: 100%;
            font-size: 13px;
            padding: 12px 15px;
            margin-bottom: 5%;
            border: none; }
          .section4 .sec4conWrap .sec4con li:last-child select {
            position: relative;
            width: 47%;
            font-size: 13px;
            padding: 12px 15px;
            border: none; }
            .section4 .sec4conWrap .sec4con li:last-child select#GUEST {
              margin-right: 4%; }
          .section4 .sec4conWrap .sec4con li:last-child button {
            position: relative;
            cursor: pointer;
            margin-top: 11%;
            padding: 12px 15px;
            font-size: 13px;
            font-weight: bold;
            background: #000;
            color: #fff;
            border: 4px solid #000; }
            .section4 .sec4conWrap .sec4con li:last-child button:hover {
              background: #fff;
              color: #000; }

.section5 {
  width: 1170px;
  margin: 0 auto;
  padding: 130px 0;
  text-align: center; }
  .section5 h2 {
    font-size: 24px;
    color: #444;
    display: inline-block;
    position: relative;
    margin-bottom: 8%; }
    .section5 h2::before {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      left: -60px;
      width: 40px; }
    .section5 h2::after {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      right: -60px;
      width: 40px; }
  .section5 p {
    width: 40%;
    margin: 0 auto;
    font-size: 13px;
    margin-bottom: 6%; }
  .section5 .sec5con {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    cursor: pointer;
    align-items: center; }
    .section5 .sec5con li img {
      width: 100%; }

.section6 {
  width: 100%;
  padding: 130px 0;
  text-align: center;
  background: #f7f7f7;
  overflow: hidden; }
  .section6 h2 {
    font-size: 24px;
    color: #444;
    display: inline-block;
    position: relative;
    margin-bottom: 8%; }
    .section6 h2::before {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      left: -60px;
      width: 40px; }
    .section6 h2::after {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      right: -60px;
      width: 40px; }
  .section6 .sec6con {
    display: flex;
    justify-content: space-between;
    width: 125%; }
    .section6 .sec6con li {
      width: 25%;
      margin-right: 1%;
      cursor: pointer; }
      .section6 .sec6con li:last-child {
        margin-right: 0; }
      .section6 .sec6con li:hover img {
        transform: scale(1.1); }
      .section6 .sec6con li:hover .sec6Imgbox::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #25252580; }
      .section6 .sec6con li .sec6Imgbox {
        position: relative;
        overflow: hidden; }
        .section6 .sec6con li .sec6Imgbox img {
          width: 100%;
          transition: all .3s;
          position: relative; }
        .section6 .sec6con li .sec6Imgbox .dayBox {
          position: absolute;
          bottom: 0;
          right: 0;
          background: #f7f7f7;
          padding: 12px 25px;
          font-size: 13px;
          z-index: 99; }
      .section6 .sec6con li .sec6Textbox {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 25px;
        text-align: left; }
        .section6 .sec6con li .sec6Textbox h3 {
          font-size: 35px;
          color: #444;
          margin-right: 5%; }
        .section6 .sec6con li .sec6Textbox p {
          font-size: 14px;
          color: #626262;
          margin-bottom: 10px;
          padding: 0 10px;
          word-break: keep-all; }
          .section6 .sec6con li .sec6Textbox p span {
            font-size: 15px;
            font-weight: bold;
            color: #626262;
            display: block;
            margin-bottom: 10px; }
          .section6 .sec6con li .sec6Textbox p::after {
            content: "";
            display: block;
            width: 20px;
            border-bottom: 4px solid #6f23f9;
            margin-top: 7%; }

.section7 {
  width: 100%;
  padding: 130px 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  .section7 h2 {
    font-size: 24px;
    color: #444;
    display: inline-block;
    position: relative;
    margin-bottom: 8%; }
    .section7 h2::before {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      left: -60px;
      width: 40px; }
    .section7 h2::after {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      right: -60px;
      width: 40px; }
  .section7 .sec7con {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .section7 .sec7con li {
      flex: 1;
      text-align: left;
      margin-right: 3%; }
      .section7 .sec7con li:last-child {
        margin-right: 0; }
      .section7 .sec7con li img {
        width: 100%;
        transition: all .3s;
        cursor: pointer; }
        .section7 .sec7con li img:hover {
          filter: grayscale(100%); }
      .section7 .sec7con li a {
        display: inline-block;
        padding: 2px 6px;
        background: #000;
        color: #fff;
        font-size: 10px;
        margin: 8% 0 3% 0; }
        .section7 .sec7con li a:hover {
          color: #cecece; }
      .section7 .sec7con li h3 {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 4%; }
      .section7 .sec7con li p {
        font-size: 13px;
        color: #626262;
        padding-bottom: 8%;
        border-bottom: 1px solid #e5e5e5;
        word-break: keep-all; }
      .section7 .sec7con li .tag {
        color: #6f23f9;
        margin-right: 10px; }
      .section7 .sec7con li .gray {
        display: inline-block;
        font-size: 11px;
        color: #ababab;
        padding-top: 8%; }

.section8 {
  width: 100%;
  padding-top: 130px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  .section8 h2 {
    font-size: 24px;
    color: #444;
    display: inline-block;
    position: relative;
    margin-bottom: 8%; }
    .section8 h2::before {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      left: -60px;
      width: 40px; }
    .section8 h2::after {
      content: "";
      border: 1px solid #6f23f9;
      display: inline-block;
      position: absolute;
      top: 49%;
      right: -60px;
      width: 40px; }
  .section8 p {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 6%; }
  .section8 #map {
    background: url(../img/map.PNG) no-repeat center center;
    background-size: cover; }

footer {
  width: 1170px;
  margin: 0 auto; }
  footer .iconSet {
    display: flex;
    font-size: 25px;
    color: #626262;
    justify-content: center;
    padding: 5% 0;
    border-bottom: 1px solid #e5e5e5; }
    footer .iconSet li {
      margin-right: 6%; }
      footer .iconSet li:last-child {
        margin-right: 0; }
  footer p {
    padding: 30px 0;
    text-align: center;
    font-size: 11px;
    color: #626262; }

@media screen and (max-width: 1199px) {
  .section1 {
    width: 970px; }

  .section2 .sec2con {
    width: 970px; }

  .section3 {
    width: 970px; }
    .section3 .sec3con li {
      width: 32%; }

  .section4 .sec4conWrap {
    width: 970px; }
    .section4 .sec4conWrap .sec4con li .box {
      margin-top: -50%; }

  .section5 {
    width: 970px; }

  .section6 .sec6con {
    width: 166%; }
    .section6 .sec6con li {
      width: 33%; }

  .section7 .sec7con {
    width: 970px; }

  footer {
    width: 970px; } }
@media screen and (max-width: 991px) {
  .hideNav {
    display: flex; }

  .mainNav {
    top: 116px;
    background: #000; }
    .mainNav ul {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 20px 0; }
      .mainNav ul li {
        margin-top: 10px; }
        .mainNav ul li:nth-child(4) {
          display: none; }
        .mainNav ul li a {
          color: #fff; }

  .section1 {
    width: 750px; }
    .section1 .sec1con {
      flex-direction: column; }
      .section1 .sec1con .sec1con1 {
        width: 100%;
        margin-bottom: 10%; }
      .section1 .sec1con .sec1con2 {
        width: 100%;
        margin-bottom: 10%; }

  .section2 .sec2con {
    width: 750px; }

  .section3 {
    width: 750px; }
    .section3 .sec3con li {
      width: 49%; }

  .section4 .sec4conWrap {
    width: 750px;
    height: 1200px; }
    .section4 .sec4conWrap .sec4con {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section4 .sec4conWrap .sec4con li {
        width: 100%;
        height: 50%;
        margin-bottom: 10%; }
        .section4 .sec4conWrap .sec4con li:first-child {
          margin-right: 0; }
        .section4 .sec4conWrap .sec4con li:last-child input {
          width: 90%; }
        .section4 .sec4conWrap .sec4con li:last-child select {
          width: 43%; }
        .section4 .sec4conWrap .sec4con li .box {
          margin-top: -33%; }

  .section5 {
    width: 750px; }
    .section5 p {
      width: 70%; }
    .section5 .sec5con {
      width: 100%; }
      .section5 .sec5con li {
        margin-right: 10%; }

  .section7 .sec7con {
    width: 750px; }

  .section8 p {
    width: 70%; }

  footer {
    width: 750px; } }
@media screen and (max-width: 767px) {
  .section1 {
    width: 100%;
    padding: 50px 30px; }
    .section1 .sec1con {
      flex-direction: column; }
      .section1 .sec1con .sec1con1 {
        width: 100%;
        margin-bottom: 10%;
        flex-direction: column; }
        .section1 .sec1con .sec1con1 .leftBox {
          width: 100%;
          margin-bottom: 10%; }
        .section1 .sec1con .sec1con1 .rightBox {
          width: 100%; }
      .section1 .sec1con .sec1con2 {
        width: 100%;
        margin-bottom: 10%;
        flex-direction: column; }
        .section1 .sec1con .sec1con2 .leftBox {
          width: 100%;
          margin-bottom: 10%; }
        .section1 .sec1con .sec1con2 .rightBox {
          width: 100%; }

  .section2 .sec2con {
    width: 100%;
    padding: 50px 30px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; }
    .section2 .sec2con li {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10%; }

  .section3 {
    width: 100%;
    padding: 50px 30px; }
    .section3 .sec3con li {
      width: 100%; }

  .section4 .sec4conWrap {
    width: 100%;
    height: 1200px;
    padding: 50 30px; }
    .section4 .sec4conWrap .sec4con {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section4 .sec4conWrap .sec4con li {
        width: 100%;
        height: 50%;
        margin-bottom: 10%; }
        .section4 .sec4conWrap .sec4con li:first-child {
          margin-right: 0; }
        .section4 .sec4conWrap .sec4con li:last-child input {
          width: 90%; }
        .section4 .sec4conWrap .sec4con li:last-child select {
          width: 43%; }
        .section4 .sec4conWrap .sec4con li .box {
          display: none; }

  .section5 {
    width: 100%;
    padding: 50px 30px; }
    .section5 p {
      width: 70%; }
    .section5 .sec5con {
      width: 100%;
      flex-direction: column; }
      .section5 .sec5con li {
        margin-right: 0;
        margin-top: 10%; }

  .section6 .sec6con {
    width: 500%; }
    .section6 .sec6con li {
      width: 100%; }

  .section7 .sec7con {
    width: 100%;
    padding: 0 30px;
    flex-direction: column; }
    .section7 .sec7con li {
      margin-bottom: 10%;
      margin-right: 0; }

  .section8 p {
    width: 70%; }

  footer {
    width: 100%;
    padding: 0 30px; } }

/*# sourceMappingURL=theme2.css.map */
